body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aeebff; /* Голубой цвет фона */
}

header, footer {
    background-color: transparent; /* Прозрачный фон для header и footer */
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.recipe {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон для блока рецепта */
    padding: 20px;
    border-radius: 10px; /* Закругленные углы */
}

.recipe h2 {
    color: #333;
}

.recipe ul, .recipe ol {
    margin-top: 5px;
    margin-bottom: 10px;
}

.recipe ol {
    margin-left: 20px;
}

footer p {
    font-size: 14px;
    color: #666;
}
}
