body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Голубой цвет фона */
}

header {
    background-color: #4682b4; /* Синий цвет фона для заголовка */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.recipe {
    background-color: #fff; /* Белый цвет фона для рецепта */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
    color: #333;
    margin-top: 0;
}

.recipe ul, .recipe ol {
    padding-left: 20px;
}

footer {
    background-color: #4682b4; /* Синий цвет фона для подвала */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.content {
    color: white; /* Белый цвет текста */
}
